<body>
<div class="video"><%= video_tag "anime_comp1.mp4", autoplay:true, height: "100%", width: "100%", loop: true%>
</div>
<div class="search"><%= button_to "Random", search_path, class: "butt"%>
</div>
</body>
