
<head><link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'></head>

<<<<<<< HEAD
<<<<<<< HEAD
=======
  <ul class="sidebar">
=======
<!--   <ul class="sidebar">
>>>>>>> b446031c64352288c896f6120c3813d4c4849705
    <li class="sidebar-brand"><a href="">Sidebar</a></li>
    <li><a href="#">text</a></li>
    <li><a href="#">text</a></li>
    <li><a href="#">text</a></li>
    <li><a href="#">text</a></li>
  </ul> -->

<<<<<<< HEAD
>>>>>>> 06cc780d05c621926853b95444f3d5fe801ac9fa
=======
>>>>>>> b446031c64352288c896f6120c3813d4c4849705
<div class="title" id="eng">
	<%= @ename %>
</div>
<div class="title" id="jap">
	<%= @jname %>
</div>

<iframe width="100%" height="120%" style="undefined" bgcolor="#000000" quality="true" scale="noscale" allowfullscreen="true" wmode="transparent" menu="false" src="<%= @vid %>>"</iframe>
  </body>
