<!-- <div class="show"><%= @response.parsed_response %></div> -->

<head><link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'></head>

<div class="title" id="eng">
	<%= @ename %>
</div>
<div class="title" id="jap">
	<%= @jname %> 
</div>