// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home.index .title {
  position: absolute;
  text-align: center;
  width: 92%;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1200%;
  padding-top: 0.0em;
  transform: translateX(-3%);
  color: white;
}

.home.index .butt {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:180px;
    height:55px;
    border: 6px solid #141414 ;
    color: #141414 ;
    font-weight: 800;
    font-size: 18px;
    text-align:center;
    cursor: pointer;
    background-color: transparent;
    background-image: linear-gradient(left, rgba(111,167,195,.7) 60%, transparent 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: #141414 ;

}

.home.index .bar{
  transform: translateY(16em);
  height: 16em;
  opacity: 0.7;
}

.home.index .faces_cont{
  position: absolute;
  /*display: inline-block;*/
  /*border: 1px solid white;*/
  padding: 2em;
  padding-top: 1.7em;
  margin: 1em;
  width: 78em;
  height: 8em;
  z-index: 3;
}
.home.index .video {
    position: fixed;
    left: 50%;
    min-width: 99%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%);
    margin: 0;
    opacity: 0.4;
}

.home.index .genre{
  position: relative;
  display: inline-block;
  border: 1px solid white;
  color: white;
  margin: 2.2em;
  width: 4.5em;
  height: 4.5em;
}

.home.index {
  background-color: #141414;
  margin: 0em;
  /*overflow: hidden;*/
}

.home.search{
  background-color: #000000;
  overflow:hidden;
}
.home.search .container{
  width: 100%;
  position: absolute;
}

.home.search .title{
  width: 90%;
  color: white;
  left: 5%;
  text-align: justify;
  position: absolute;
  margin-left: 5%;
}

#eng{
  font-size: 4em;
  font-family: lato;
  text-transform: capitalize;
  margin-left: 3%;
  z-index: 4;
}

.home.screen .trigger{
  position: absolute;
  z-index: 5;
}

.home.screen .side {
  position: aboslute;
}

iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 98%;
  padding: 0;
  margin: 0;
  color: #000000;
  border: none;
  z-index: -10;
}


.faces {
  display: flex;
  width: 90%;
}

.icon {
  margin-right: 5%;
  flex: 1;
}

.home.index .bar {
  background-image: url(asset-path("bar2.png"));
  height: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon img {
  height: 45%;
  width: 55%;
  // border: 5px solid white;
  // padding: 10%;
}

.icon:hover {
  opacity: .4;
  transition: all ease .5s;
}

.icon:active {
  position:relative;
  top:3px;
}
