// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home.index .title {
  position: absolute;
  text-align: center;
  width: 100%;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1200%;
  padding-top: 0.0em;
  transform: translateX(-3%);
  color: white;
}

.home.index .butt {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:180px;
    height:55px;
    border: 6px solid #141414 ;
    color: #141414 ;
    font-weight: 800;
    font-size: 18px;
    text-align:center;
    cursor: pointer;
    background-color: transparent;
    background-image: linear-gradient(left, rgba(111,167,195,.7) 60%, transparent 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: #141414 ;

}

.home.index .bar{
  transform: translateY(16em);
  height: 16em;
  opacity: 0.7;
}
.home.index .faces_cont{
  position: absolute;
/*  display: inline-block;*/
  /*border: 1px solid white;*/
  padding: 2em;
  padding-top: 1.7em;
  margin: 1em;
  width: 78em;
  height: 8em;
  z-index: 3;
}
.home.index .video {
    position: fixed;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%);
    margin: 0;
    opacity: 0.4;
}
.home.index .genre{
  position: relative;
  display: inline-block;
  border: 1px solid white;
  color: white;
  margin: 2.2em;
  width: 4.5em;
  height: 4.5em;
}
.home.index {
  background-color: #141414;
  margin: 0em;
  /*overflow: hidden;*/
}

.home.search{
  background-color: #141414;
}

.home.search .title{
  width: 95%;
  color: white;
  left: 5%;
  text-align: justify;
}

.home.search #eng{
  font-size: 7em;
  //font-family: 'Source Sans Pro', sans-serif;
  font-family: lato;
  text-transform: capitalize;
}

.home.search #jap{
  font-size: 4.5em;
}



